Assignments/assignment2/cs231n/exp/pretrained** filter=lfs diff=lfs merge=lfs -text
Assignments/assignment3/cs231n/exp/pretrained.model-70000.pt filter=lfs diff=lfs merge=lfs -text
Assignments/assignment3/cs231n/exp/pretrained/model-70000.pt filter=lfs diff=lfs merge=lfs -text
